
.menu-area {
    margin-top: 30px;
    margin-bottom: -130px;
}

.menu-area .mobile-nav-toggler {
    position: relative;
    float: right;
    font-size: 30px;
    cursor: pointer;
    line-height: 1;
    color: var(--white);
    display: none;
    margin-top: 22px;
    right: 25px;
    z-index: 99;
}

.menu-area.market-single-header {
    margin-top: 30px;
    margin-bottom: 0;
}

.menu-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu-wrap {
    border-radius: 5px;
    position: relative;
}

@media (max-width: 991.98px) {
    .menu-area {
        padding: 25px 0 !important;
        height: 30px;
    }

    .menu-area .mobile-nav-toggler {
        display: block;
    }

    .menu-area {
        margin-top: 0;
        margin-bottom: -145px;
    }

    .menu-area.sticky-menu {
        margin-top: 22px !important;
        padding: 0 !important;
    }

    .menu-area.market-single-header {
        margin-top: 0;
        margin-bottom: 0;
    }

    .menu-nav {
        justify-content: space-between;
    }

    .menu-wrap {
        padding: 15px 25px;
    }
}

@media (max-width: 767.98px) {
    .menu-area {
        padding: 15px 0;
    }

    .menu-wrap {
        padding: 25px;
    }

    #sticky-header {
        background: transparent;
        z-index: 10;
    }

    .sticky-menu {
        padding: 0 22px !important;
    }
}
